In [97]:
import pandas as pd
import numpy as np

In [99]:
credit=pd.read_csv("C:\\Users\\akshi\\OneDrive\\Desktop\\fraudTest_uncleaned.csv")

In [119]:
credit.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020/06/21,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,jeff###,@@ELLIOTT,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,03-19-1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21-06-2020 12:14,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,joanne###,@@WILLIAMS,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990/01/17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21-06-2020 12:14,3598215285024754,NaN,NaN,$nan,NaN,@@LOPEZ,F,9333 Valentine Point,...,40.6729,-73.5365,34496,NaN,1970/10/21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020/06/21,3591919803438423,fraud_Haley Group,misc_pos,60.05,brian###,@@WILLIAMS,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,07-25-1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020/06/21,3526826139003047,fraud_Johnston-Casper,travel,3.19,nathan###,@@MASSEY,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,07-06-1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [129]:
credit['trans_date_trans_time']=pd.to_datetime(credit['trans_date_trans_time'],format='%Y/%m/%d')

In [131]:
credit.dtypes

Unnamed: 0                        int64
trans_date_trans_time    datetime64[ns]
cc_num                            int64
merchant                         object
category                         object
amt                              object
first                            object
last                             object
gender                           object
street                           object
city                             object
state                            object
zip                               int64
lat                             float64
long                            float64
city_pop                          int64
job                              object
dob                              object
trans_num                        object
unix_time                         int64
merch_lat                       float64
merch_long                      float64
is_fraud                          int64
dtype: object

In [133]:
credit.isnull().sum()

Unnamed: 0                 0
trans_date_trans_time    505
cc_num                     0
merchant                 104
category                 104
amt                       77
first                    104
last                       0
gender                     0
street                     0
city                     104
state                      0
zip                        0
lat                        0
long                       0
city_pop                   0
job                      104
dob                        0
trans_num                  0
unix_time                  0
merch_lat                  0
merch_long                 0
is_fraud                   0
dtype: int64

In [139]:
credit['amt']=pd.to_numeric(credit['amt'],errors='coerce')
credit['amt'].fillna(credit['amt'].median())

0         2.86
1        29.84
2        31.85
3        60.05
4         3.19
        ...
995      31.85
996      31.85
997     135.59
998      14.17
999    2068.05
Name: amt, Length: 1000, dtype: float64

In [163]:
credit['category']=credit['category'].fillna('unknown')
credit['merchant']=credit['merchant'].fillna('unknown')
credit['job']=credit['job'].fillna('Not provided')
credit['first']=credit['first'].fillna('Missing')
credit['city']=credit['city'].fillna('unknown')

In [165]:
credit['trans_date_trans_time']=credit['trans_date_trans_time'].fillna('ffill')

In [185]:
credit.rename(columns={
    'trans_date_trans_time': 'transaction_date',
    'amt': 'amount_usd',
    'category': 'purchase_category',
'':'id'})

,Unnamed: 0,transaction_date,cc_num,merchant,purchase_category,amount_usd,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,jeff###,@@ELLIOTT,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,03-19-1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,joanne###,@@WILLIAMS,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990/01/17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21,3598215285024754,unknown,unknown,31.85,Missing,@@LOPEZ,F,9333 Valentine Point,...,40.6729,-73.5365,34496,Not provided,1970/10/21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21,3591919803438423,fraud_Haley Group,misc_pos,60.05,brian###,@@WILLIAMS,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,07-25-1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21,3526826139003047,fraud_Johnston-Casper,travel,3.19,nathan###,@@MASSEY,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,07-06-1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2020-06-21,2283743876903625,"fraud_Koss, McLaughlin and Mayer",food_dining,31.85,shannon###,@@WILLIAMS,F,9345 Spencer Junctions Suite 183,...,34.0770,-84.3033,165556,Prison officer,12-27-1997,bdffd4e6ba0b9f96807547babe99afa1,1371837259,34.525931,-83.561760,0
996,996,2020-06-21,639046421587,fraud_Zulauf LLC,personal_care,31.85,dylan###,@@BONILLA,M,2497 John Motorway Suite 922,...,40.5662,-80.2099,1140,"Administrator, education",06-20-1986,0fc9e377f7066fbc30c5be2964267c7f,1371837271,39.632775,-80.261883,0
997,997,2020-06-21,571365235126,"fraud_Roberts, Daniel and Macejkovic",kids_pets,135.59,barbara###,@@TAYLOR,F,0069 Robin Brooks Apt. 695,...,44.5995,-86.2141,372,"Exhibitions officer, museum/gallery",1995/07/12,d29e1d6d3b9e779bb5f351de53186282,1371837292,45.105185,-86.872676,0
998,998,2020-06-21,180072527505094,fraud_Fadel-Hilpert,health_fitness,14.17,cody###,@@MILLER,M,25748 John Wells,...,35.5840,-80.8685,69793,Control and instrumentation engineer,1953/12/08,ef12feeb158578bb1172704a051bd7d1,1371837314,35.045926,-80.870960,0
999,999,2020-06-21,4933461930348832,fraud_Kessler Group,travel,2068.05,richard###,@@CARTER,M,5097 Martin Ridges,...,44.9673,-93.2828,1022298,Chemical engineer,1976/09/29,904e99f9a81c33371549da1ed53ac282,1371837333,44.444997,-93.515788,0

In [187]:
credit.duplicated().sum()

0

In [189]:
credit.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [221]:
credit['first'] =credit['first'].astype(str).str.replace(r'[^\w\s]', '', regex=True).str.strip().str.title()
credit['last'] =  credit['last'].astype(str).str.replace(r'[^\w\s]', '', regex=True).str.strip().str.title()

In [223]:
credit.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,03-19-1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990/01/17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21,3598215285024754,unknown,unknown,31.85,Missing,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,Not provided,1970/10/21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,07-25-1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,07-06-1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [225]:
credit.to_csv(r"C:\Users\akshi\OneDrive\Desktop\fraudtest_cleaned.csv",index=False)

In [227]:
from IPython.display import FileLink
FileLink("fraudtest_cleaned.csv")

C:\Users\akshi\anaconda_projects\fraudtest_cleaned.csv